<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon"
    type="image/png"
    href="{{ site.resource_url }}/img/favicon.png">

    <title>{{ page.title }}</title>
    <meta name="author" content="Jeaye" />
    <meta name="description" content="All about Jeaye." />
    <meta name="keywords" content="jeaye,jaeye,jay,wilkerson,arrow,arrownext,q3,quake,c++,rust" />

    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{ site.resource_url }}/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.resource_url }}/css/tabs.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.resource_url }}/css/social.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.resource_url }}/css/hint.css" />

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blog.css" />
  </head>

  <body itemscope itemtype="http://schema.org/Person">
    <div id="wrapper">
      <div id="header" class="row hidden-print">
        <header id="me" class="jumbotron col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 fadeInDown animated">

          <img alt="Me" src="{{ site.resource_url }}/img/j.png" style="margin-top:30px;width:30%" class="pull-right" />

          <h1>
            <small>My name is </small>
            <strong>Jeaye</strong><small>.</small>
          </h1>
          <p>
          I'm a systems-level modern C++14 developer who's passionate about writing the safest code possible.
          </p>

        </header>
      </div>

      <a href="mailto:contact@jeaye.com" target="_blank" title="contact@jeaye.com" class="social">
        <img class="social" src="{{ site.resource_url }}/img/mail.png" alt="contact@jeaye.com" />
      </a>
      <a href="https://www.linkedin.com/in/jeaye" target="_blank" title="https://www.linkedin.com/in/jeaye" class="social">
        <img class="social" src="{{ site.resource_url }}/img/in.png" alt="https://www.linkedin.com/in/jeaye" />
      </a>
      <a href="https://github.com/jeaye" target="_blank" title="https://github.com/jeaye" class="social">
        <img class="social" src="{{ site.resource_url }}/img/github.png" alt="https://github.com/jeaye" />
      </a>
      <a href="#" title="jeaye on freenode" class="social">
        <img class="social" src="{{ site.resource_url }}/img/irc.png" alt="jeaye on freenode" />
      </a>

      <ol id="toc">
        <li><a href="{{ site.resource_url }}/recommendations"><span>Recommendations</span></a></li>
        <li><a href="{{ site.resource_url }}/donate"><span>Donate</span></a></li>
        <li><a href="{{ site.resource_url }}/resume.pdf" target="_blank"><span>Resume</span></a></li>
        <li class="current"><a href="{{ site.url }}"><span>Blog</span></a></li>
        <li><a href="https://github.com/jeaye"><span>Projects</span></a></li>
        <li><a href="{{ site.resource_url }}"><span>Timeline</span></a></li>
      </ol>

      <hr class="blue hidden-print" />
