{% include _includes/header.html %}

<div class="main-blog-panel">
  <div class="posts">
    <section class="post">
      <header class="post-header">
        <h2 class="post-title">
          <a href="{{ page.url }}" title="{{ page.url }}">
            {{ page.title }}
          </a>
        </h2>
        <div class="post-date">
          {{ page.date | date: "%B %d, %Y" }}
          {% if page.updated %}
            <div class="post-updated-date">Updated {{ page.updated | date: "%B %d, %Y" }}</div>
          {% endif %}
        </div>
      </header>

      {{ content }}
    </section>

    <hr />

    <div>
      {% assign total_count = 1 %}

      {% for p in site.posts %}

      {% if p.title == page.title %}
      {% continue %}
      {% endif %}
      {% if total_count > 4 %}
      {% continue %}
      {% endif %}

      {% assign same_count = 0 %}
      {% assign common_categories = '' %}

      {% for cat in p.labels %}
      {% if page.labels contains cat %}
      {% assign same_count = same_count | plus: 1 %}
      {% capture catmarkup %}
      <span class="post-category post-category-{{ cat }}">{{ cat }}</span>
      {% endcapture %}
      {% assign common_categories = common_categories | append: catmarkup %}
      {% endif %}
      {% endfor %}

      {% if same_count >= 1 %}
      {% capture post_html %}
      <li>
        <h2 class="related-post-title">
          <a href="{{ p.url }}">{{ p.title }}</a>
          {{ common_categories }}
        </h2>
      </li>
      {% endcapture %}
      {% assign total_html = total_html | append: post_html %}
      {% assign total_count = total_count | plus: 1 %}
      {% endif %}
      {% endfor %}

      {% if total_count >= 1 %}
      <div class="border-bottom">
        <h1 class="panel-subhead">Related posts</h1>
        <ul class="related-list">
          {{ total_html }}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% include _includes/footer.html %}
