{% include header.html %}

<div id="content">
  <article>
    <section>
      <div class="post_date">
        {{ page.date | date: "%B %d, %Y" }}
      </div>
      <h3>{{ page.title }}</h3>

      {{ content }}
    </section>
  </article>

  <hr />

  <div>
    {% assign total_count = 0 %}
    {% assign total_html = 0 %}

    {% for p in site.posts %}

      {% if p.title == page.title %}
        {% continue %}
      {% endif %}

      {% assign same_count = 0 %}
      {% assign common_tags = '' %}

      {% for tag in p.tags %}
        {% if page.tags contains tag %}
          {% assign same_count = same_count | plus: 1 %}
          {% assign total_count = total_count | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign common_tags = common_tags | append: tagmarkup %}
        {% endif %}
      {% endfor %}

      {% if same_count >= 1 %}
        {% capture total_html %}
          <li>
            <h4><a href="{{ p.url }}">{{ p.title }}</a>{{ common_tags }}</h4>
          </li>
        {% endcapture %}
      {% endif %}
    {% endfor %}

    {% if total_count >= 1 %}
      <h3>Related posts</h3>
      <ul>
        {{ total_html }}
      </ul>
    {% endif %}
  </div>
</div>

{% include footer.html %}
